.bar {
	@apply bg-gray-light-3 w-8 rounded;
  height: 2px;
	transition: 0.5s;
}

.bar:first-child {
	@apply mb-2;
}

.barActive:first-child {
  transform: rotate(45deg) translateX(7px);
}

.barActive:nth-child(2) {
  transform: rotate(-45deg) translateX(7px);
}
